@font-face {
    font-family: expletus;
    src: url('../fonts/ExpletusSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: baloo;
    src: url('../fonts/BalooThambi2-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    padding:0;
    margin:0;
    list-style:none;
    border:0;
    /*overflow: hidden; */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

/**:focus {
    outline: 0 !important;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/


body {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;

}

.navbar {
    background-color: whitesmoke;
    bottom: 0;
    align-self: end;
    position: fixed;
    transition: bottom .5s;
    width: 100vw;
    border-top: 1px solid lightgrey;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    height: 4em;
    align-items: center;
    /*! border: 1px solid #0034ff; */
}

.navbar ul li {
    width: 100%;
    height: 100%;
}

.navbar a {
    font-family: baloo;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    /*! font-size: 1em; */
    border: 1px solid whitesmoke;
    color: #4e4f2f;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.active, a:hover {
    background-color: #e49e5b;
    transition: 1.5s;
}

.navbar a i {
    font-size: 1.4em;
}

section {
    padding: 1em;
    height: 95vh;
    width: auto;
    /*! background-color: red; */

}

#home {
    background-image: url('../images/container.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home h1 {
    font-family: expletus;
    margin: 15px;
    font-size: xxx-large;
    color: #e49e5b;
    text-shadow: 0px 0px 2px black;
}

#projetos {
    height: auto;
    background-image: url('../images/projetos-wm.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#projetos ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: inherit;
    width: auto;
    justify-content: space-between;
}

#projetos ul li {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: baloo;
}

#projetos ul li img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid darkgray;
}

#sobre {
    background-image: url('../images/contato.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#sobre a {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    margin-top: 1em;
    color: darkslategrey;
    font-family: baloo;
    font-size: 1.3em;
}

#sobre a i {

    /*! transform: scaleX(-1); */
    font-size: xxx-large;
    color: green;
}

section h2 {
    font-family: expletus;
    color: #4e4f2f;
    text-shadow: 0px 0px 1px #e49e5b;
    font-size: x-large;
}