@font-face {
    font-family: expletus;
    src: url('../fonts/ExpletusSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: baloo;
    src: url('../fonts/BalooThambi2-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: advent;
    src: url('../fonts/AdventPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/RobotoCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


* {
    padding:0;
    margin:0;
    list-style:none;
    border:0;
    /*overflow: hidden; */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

/**:focus {
    outline: 0 !important;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/


body {
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.navbar {
    background-color: whitesmoke;
    bottom: 0;
    align-self: end;
    position: fixed;
    transition: bottom .5s;
    width: 100vw;
    border-top: 1px solid lightgrey;
    margin-left: -1px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    height: 4em;
    align-items: center;
    /*! border: 1px solid #0034ff; */
}

.navbar ul li {
    width: 100%;
    height: 100%;
}

.navbar a {
    font-family: baloo;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    border: 1px solid whitesmoke;
    color: #000;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.navbar .active, .navbar a:hover {
    background-color: #ff7400;
    transition: 1.5s;
}

.navbar a i {
    font-size: 1.4em;
}

section {
    padding: 1em;
    height: 96vh;
    width: auto;
    /*! background-color: red; */

}

#home {
    background-image: url('../images/container.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home .logo {
    display: flex;
    align-items: center;
}

#home .logo span{
    padding-left: 1.5em;
    text-align: center;
}

#home .logo p{
    font-family: roboto;
    letter-spacing: 2px;
    font-size: 0.8em;
}

#home span img {
    width: 4.5em;
    height: 4.5em;
}

#home h1 {
    font-family: advent;
    font-size: 2.8em;
    color: #000;
    text-shadow: 0px 0px 1px lightgray;
}

#projetos {
    height: auto;
    background-image: url('../images/projetos-wm.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#projetos ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: inherit;
    width: auto;
    justify-content: space-around;
}

#projetos ul li {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: baloo;
}

#projetos ul li img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid darkgray;
}

#sobre {
    background-image: url('../images/contato.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#sobre a {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    margin-top: 1em;
    color: darkslategrey;
    font-family: baloo;
    font-size: 1.3em;
}

#sobre a i {

    /*! transform: scaleX(-1); */
    font-size: xxx-large;
    color: green;
}

section h2 {
    font-family: advent;
    color: #000;
    text-shadow: 0px 0px 1px #ff7400;
    font-size: 1.5em;
    padding: 5px;
}

/* Media query */
@media screen and (min-width: 900px) {
    #home span img {
        width: 7em;
        height: 7em;
    }

    #home .logo p {
        font-size: 1.5em;
    }

    #home h1 {
        font-size: 4em;
    }

    #projetos {
        min-height: 100vh;
    }

    #projetos ul {
        flex-direction: row;
    }

    #projetos ul li {
        width: 35%;
        font-size: 1.2em;
    }

    #projetos ul li img {
        border: 2px solid darkgray; 
    }
  }
